[Unit]
Description=WebWatcher Daemon
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/webwatcher
Restart=no

[Install]
WantedBy=default.target
