[Unit]
Description=WebWatcher Daemon
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/webwatcher
Restart=on-failure
RestartSec=5

# Delovni imenik in okolje
WorkingDirectory=/var/lib/webwatcher
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
